:root {
    --text-color:#333;
}

/*Body
Set the font color, family, size, and line height.*/
body {
    color: var(--text-color);
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}


/*Header/Nav Menu
Create a flexbox row with space in between.
Set the color to alice blue.
Remove the bullet points next to each link.*/
.page-header, .page-header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aliceblue;
    list-style: none;
}

h4 {
    margin-left: 10px;
}

/*Nav Menu Links
Change them to the default text color.
Remove the default line underneath links by changing text decoration.
Display it in a block.*/
.page-header a {
    color: var(--text-color);
    display: block;
    padding: 0.5em;
    text-decoration:none;
}

/*items is the entire collection of mood products*/
.items {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2em;
    padding: 50px 0px 50px 0px;
}

.items img {
    width: 90%;
    height: 180px;
    margin-top: 10px;
    object-fit: cover;  
    border-radius: 5px;
    align-self: center;
}

/*item is each individual product styling*/
.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    border-color:gray;
    background-color: lavender;
    border-radius: 10px;
}

/*BUTTON for Add to Cart:
Set the background to midnightblue and the font to white.
Create a simple solid border in the same color as the box.
Add padding on the top/bottom of 5px and 20px on each side.
Stretch across the box.
Add a hover effect to change background color to aliceblue.*/
.item button {
    color: white;
    background-color: midnightblue;
    border-style: solid;
    border-width: 1px;
    border-color: midnightblue;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    align-self: stretch;
}

.item button:hover {
    background-color: aliceblue;
    color: var(--text-color);
}

/*Description and Price:
Set the width to 90% for both and create a standard height.
(This allows elements to line up evenly across different items.
Align text in the center for the price. Change font size.*/
#description {
    font-size: 12px;
    width: 90%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}

#price {
    color: gray;
    width: 90%;  
    height: 30px;
    text-align: center;
    font-size: 14px;
}

li {
    list-style: none;
}

/*Footer/CART:
Set the background to aliceblue, Creaete a wide margin and padding.
Surround the footer with a dashed line in light slate gray.
Change the font to monospace to look like a receipt.*/
footer {
    background-color: aliceblue;
    margin: 100px;
    padding: 50px;
    border-style: dashed;
    border-color: lightslategray;
    border-width: 2px;
    text-align: center;
    font-family: monospace;
}

/*Create a grid for each item in the list*/
.cart-list {
    display:grid;
    grid-template-columns: 1fr .5fr .5fr 1fr;
    grid-template-areas:
    "i i i i"
    ". p m ."
    ". r r ."
    ;
    margin: 20px;
}


/*Style the remove, increase, and decrease items*/
/*Remove Button:
Make the remove a darksalmon, with indian red on hover. 
Set the width to 50% and center the button.
Create a simple, solid border and add 5px padding around the text. 
*/
.remove {
    grid-area: r;
    width: 50%;
    justify-self: center;
    background-color: darksalmon;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    padding: 5px;
    text-align: center;
}

.remove:hover {
    background-color: indianred;
}


/*Increase Button:
Make the width 50% and align at the end of the gridbox.
Create a simple solid border. Create a margin with 5px on top
and 1px on the right. Add a hover effect to a dark gray.
*/
.increase {
    grid-area: p;
    width: 50%;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    justify-self: flex-end;
    margin: 5px 1px 5px 0px;
}

.increase:hover {
    background-color: darkgray;
}

/*Decrease Button:
Make the width 50% and align at the start of the gridbox.
Create a simple solid border. Create a margin with 5px on top
and 1px on the left. Add a hover effect to a dark gray.
*/
.decrease {
    grid-area: m;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    width: 50%;
    justify-self: flex-start;
    margin: 5px 0px 5px 1px;
}

.decrease:hover {
    background-color: darkgray;
}

.checkout-item {
    grid-area: i;
}

ul {
    margin-left: 0px;
    padding: 0px;
}

#cart-qty {
    font-size: 1.1em;
}

/*Cart Total:
Make the font larger and bold.
Add a solid border on the top only to create a line.
Add 20px of padding on the top and bottom.
*/
#cart-total {
    font-weight: 700; 
    font-size: 1.1em;
    border: solid;
    border-width: 1px 0px 0px 0px;
    margin: 50px 25% 0px 25%;
    padding-top: 20px;
    padding-bottom: 20px;
}